---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=individual_supporter&description=Ian%20McIain%20individual%20supporter%20membership%20(XL3584CD)
    headers:
      Authorization:
      - Bearer sk_<RAILS_ENV>_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1417536435,\n  \"id\":
        \"cus_5FooHketeyhKl4\",\n  \"livemode\": false,\n  \"description\": \"Ian
        McIain individual supporter membership (XL3584CD)\",\n  \"email\": null,\n
        \ \"delinquent\": false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\":
        \"list\",\n    \"total_count\": 1,\n    \"has_more\": false,\n    \"url\":
        \"/v1/customers/cus_5FooHketeyhKl4/subscriptions\",\n    \"data\": [\n      {\n
        \       \"id\": \"sub_5FooTkwv9nV12A\",\n        \"plan\": {\n          \"interval\":
        \"year\",\n          \"name\": \"Individual supporter\",\n          \"created\":
        1417532545,\n          \"amount\": 10800,\n          \"currency\": \"gbp\",\n
        \         \"id\": \"individual_supporter\",\n          \"object\": \"plan\",\n
        \         \"livemode\": false,\n          \"interval_count\": 1,\n          \"trial_period_days\":
        null,\n          \"metadata\": {},\n          \"statement_description\": \"ODI
        membership\"\n        },\n        \"object\": \"subscription\",\n        \"start\":
        1417536435,\n        \"status\": \"active\",\n        \"customer\": \"cus_5FooHketeyhKl4\",\n
        \       \"cancel_at_period_end\": false,\n        \"current_period_start\":
        1417536435,\n        \"current_period_end\": 1449072435,\n        \"ended_at\":
        null,\n        \"trial_start\": null,\n        \"trial_end\": null,\n        \"canceled_at\":
        null,\n        \"quantity\": 1,\n        \"application_fee_percent\": null,\n
        \       \"discount\": null,\n        \"metadata\": {}\n      }\n    ]\n  },\n
        \ \"discount\": null,\n  \"account_balance\": 0,\n  \"currency\": \"gbp\",\n
        \ \"cards\": {\n    \"object\": \"list\",\n    \"total_count\": 1,\n    \"has_more\":
        false,\n    \"url\": \"/v1/customers/cus_5FooHketeyhKl4/cards\",\n    \"data\":
        [\n      {\n        \"id\": \"card_155JBH4oB0YITArSuyEHKj8f\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"brand\": \"Visa\",\n        \"funding\":
        \"credit\",\n        \"exp_month\": 12,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"qBYthW9tt9MyrCdj\",\n        \"country\": \"US\",\n        \"name\": null,\n
        \       \"address_line1\": null,\n        \"address_line2\": null,\n        \"address_city\":
        null,\n        \"address_state\": null,\n        \"address_zip\": null,\n
        \       \"address_country\": null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"dynamic_last4\": null,\n
        \       \"customer\": \"cus_5FooHketeyhKl4\",\n        \"type\": \"Visa\"\n
        \     }\n    ]\n  },\n  \"default_card\": \"card_155JBH4oB0YITArSuyEHKj8f\"\n}\n"
  recorded_at: Tue, 02 Dec 2014 16:07:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5FooHketeyhKl4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_<RAILS_ENV>_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCI[...]
[...]
