RACKSPACE_API_KEY=''
RACKSPACE_USERNAME=''
RACKSPACE_API_ENDPOINT=''
RACKSPACE_DIRECTORY_CONTAINER=''
RACKSPACE_DIRECTORY_ASSET_HOST=''

GOOGLE_ANALYTICS_TRACKER='UA-xxxxxx-x'

AIRBRAKE_DIRECTORY_KEY=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

FOUNDING_PARTNER_ID=1

MAILCHIMP_WEBHOOK_TOKEN=''
