RESQUE_REDIS_HOST='localhost'
RESQUE_REDIS_PORT='6379'
RESQUE_REDIS_PASSWORD=''

CAPSULECRM_ACCOUNT_NAME=''
CAPSULECRM_API_TOKEN=''
CAPSULECRM_DEFAULT_OWNER=''

RACKSPACE_API_KEY=''
RACKSPACE_USERNAME=''
RACKSPACE_API_ENDPOINT=''
RACKSPACE_DIRECTORY_CONTAINER=''
RACKSPACE_DIRECTORY_ASSET_HOST=''

GOOGLE_ANALYTICS_TRACKER='UA-xxxxxx-x'

AIRBRAKE_DIRECTORY_KEY=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

FOUNDING_PARTNER_ID=1

MAILCHIMP_WEBHOOK_TOKEN=''
