<fieldset>
  <legend>
    Are you affiliated with an ODI Node?
    <a href="#" id="what-are-nodes" data-toggle="tooltip" title="ODI Nodes are local arms of the ODI who focus on promoting open data through learning and networking.">
      <span class="icon-question-sign" aria-hidden="true"></span>
    </a>
  </legend>

  <div class="control-group">
    <%= f.label :origin, "Yes, the Node is", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :origin, Member::ORIGINS, :selected => origin_value, :include_blank => true %>
    </div>
  </div>

  <div class="control-group newsletter third-parties">
    <div class="controls">
      <label class="checkbox">
        <%= f.check_box :cached_share_with_third_parties %> <%= t(:share_with_third_parties) %>
      </label>
    </div>
  </div>
</fieldset>
