<p>
  This Agreement is made [DATE] by and between the Open Data Institute having its principal
   place of business at 3rd Floor, 65 Clifton Street, London, EC2A 4JE (“ODI”) and your organisation.
</p>
<p>
  Whereas ODI seeks to admit members to its organisation and to work with and provide services to them;
</p>
<p>
  Whereas your organisation wishes to be admitted as a [TIER] of the ODI organisation;
</p>
<ol>
  <li>Member agrees to pay an annual membership subscription of [AMOUNT].
  </li>
  <li>The General Terms and Conditions of Membership as set out in Schedule 1 are incorporated
     in and shall form part of this Agreement.
  </li>
  <li>All notices or other communications to or upon either party shall be in email and writing to
    <ul>
      <li>a. ODI: 3rd Floor, 65 Clifton Street, London, EC2A 4JE and <a href='mailto:members@theodi.org'>members@theodi.org</a>.
      </li>
      <li>b. Member: email address registered on their account
      </li>
    </ul>
  </li>
  <li>Member warrants and undertakes that it is and will, throughout the period of its membership, 
    remain in compliance with the eligibility criteria for its category of membership as set out in 
    the document attached to this Agreement and further that it will throughout the period of membership 
    comply fully with all its responsibilities and obligations set out in the Agreement and abide by 
    the terms and conditions as set out in this Agreement.
  </li>
</ol>
<h3>
  Schedule 1
</h3>
<h4>
  I. Terms and Conditions
</h4>
<ol>
  <li>We are the Open Data Institute Limited (full legal name) (“ODI”). The ODI is (a not for profit 
    limited by guarantee company The ODI is located at (see above for full address)
  </li>
  <li>The following are the General Terms and Conditions of Membership of the ODI
  </li>
</ol>
<h4>
  II. Membership subscription
</h4>
<ol>
  <li>Membership is open to both organisations and individuals from around the world.
  </li>
  <li>Membership subscription of the ODI is open to organisations in one of the following membership 
    categories:
    <ul>
      <li>a. Partner
      </li>
      <li>b. Sponsor
      </li>
      <li>c. Member
      </li>
      <li>d. Supporter
      </li>
    </ul>
  </li>
  <li>Individuals may become members in either the Member or Supporter categories of membership.
  </li>
  <li>Membership as a Partner or a Sponsor is for a minimum period of 3 years; membership as a Member 
    or Supporter is for a minimum period of 1 year; in each case subject to earlier termination in 
    accordance with the terms of this Agreement.
  </li>
  <li>Membership of the ODI is subject at all times to the approval of the ODI Board of Directors.
  </li>
  <li>Organisations becoming members of the ODI model agree to have the terms of their contractual 
    relationship with the ODI published by the ODI or other / any authorised third parties as open 
    data. The ODI will make available all details of the financial arrangements, in kind commitments 
    and any other data pertaining to the membership of the ODI by the organisation in question.
  </li>
</ol>
<h4>
  III. Membership Fees, Renewal and Payment
</h4>
<ol>
  <li>Membership fees are set from time to time by the ODI Board of Directors. Existing members will 
    be notified of any increase in membership fees a minimum of 90 days prior to the next membership 
    renewal date.
  </li>
  <li>The current membership fees are as follows:
    <ul>
      <li>a. Partner: £50,000 per annum of which up to £15,000 per annum may be payment in kind
      </li>
      <li>b. Sponsor: £25,000 per annum of which up to £7,500 may be payment in kind
      </li>
      <li>c. Member: £4,800 per annum
      </li>
      <li>d. Supporter: £540 per annum
      </li>
    </ul>
  </li>
  <li>Payments in kind may be through the contribution of services, technology or other expertise as 
    agreed and valued in advance with ODI.
  </li>
  <li>All per annum membership fees will be invoiced at the commencement of the membership term and 
    each year thereafter, and shall be payable in full within 60 days from the date of the invoice. 
    The stated membership fees are subject to VAT at the prevailing rate that ODI shall add to its 
    invoices as applicable.
  </li>
  <li>Unless this Agreement is terminated earlier in accordance with its terms, this Agreement shall 
    automatically renew for successive one year periods unless 30 days notice is given to terminate 
    the Agreement.
  </li>
  <li>Also the organisations using a payment in kind agree to invoice the ODI for the cost of the 
    payment in kind (plus VAT) each year and the ODI will then deduct this from the membership invoice.
  </li>
</ol>
<h4>
  IV. Entitlement of members
</h4>
<h5>
  Training, education, research and professional services discount
</h5>
<ol>
  <li>
    <p>
      All members shall be entitled to 20% discount on published OD training courses and day rates 
      on professional services contracts entered into with ODI during their membership subject to 
      the following limits:
    </p>
    <ul>
      <li>a. Supporter - Maximum of 12 training courses, Professional Services to the value of £10,000
      </li>
      <li>b. Member - Professional Services to the value of £50,000
      </li>
      <li>c. Sponsor - Professional Services to the value of £100,000
      </li>
      <li>d. Partner - Unlimited
      </li>
    </ul>
  </li>
</ol>
<h5>
  Training and professional services vouchers
</h5>
<ol>
  <li>Partners shall receive training and professional services vouchers worth £18,000 annually.
  </li>
  <li>Sponsors shall receive training and professional services vouchers worth £7,000 annually.
  </li>
  <li>Members shall receive training and professional services vouchers worth £1,000 annually.
  </li>
  <li>Such vouchers may be used against the net cost (i.e. exclusive of VAT) of ODI professional 
    services, training and research work but must be used annually and may not be carried forward. 
    The use of these vouchers is subject to membership fees for that year being received in full.
  </li>
</ol>
<h5>
  Branding, events, networking and collaboration
</h5>
<p>
  All members shall be entitled to Brand Placement and Recognition as follows:
</p>
<ol>
  <li>Partners:
    <ul>
      <li>a. Partner names and logos shall be displayed on the ODI website.
      </li>
      <li>b. Partner will be entitled to headline (on a non-exclusive basis) with the ODI Annual Summit.
      </li>
      <li>c. Partner shall be responsible for providing appropriate event branding collateral.
      </li>
    </ul>
  </li>
  <li>Sponsors: names and logos shall be displayed on the ODI website and at ODI networking events. 
    Sponsors shall be responsible for providing appropriate branding collateral
  </li>
  <li>Members names and logos shall be displayed on the ODI website
  </li>
  <li>Supporters names shall be displayed as text on the ODI website
  </li>
  <li>Branding opportunities with the Open Data Institute associated events during the membership term 
    at the discretion of ODI. Events are generally associated to sectors and as such will attract relevant 
    interested attendees.
  </li>
  <li>Subject to the approval of the ODI Board, Partners shall be entitled to one representative on the 
    Sector Pioneers Board to which ODI may appoint other representatives from industry, public sector 
    and the SME, not for profit/charity and start-up communities. Sector Pioneers lead and inform the 
    debate on open data within their respective industries, meet on a quarterly basis and provide input
  </li>
</ol>
<h5>
  Annual Summit
</h5>
<ol>
  <li>All organisation members shall be entitled to attend the ODI Annual Summit at no charge (the event 
    is limited to circa 200 attendees and is chargeable to non members) as follows:
    <ul>
      <li>a. Partners may send up to 3 attendees
      </li>
      <li>b. Sponsors may send up to 2 attendees, and nominate up to 1 speaker
      </li>
      <li>c. Members and Supporter organisations may send 1 attendee
      </li>
      <li>d. All persons attending on behalf of an organisations member must be a director and/ or an 
        employee of the organisation
      </li>
      <li>e. Individual members may attend in person; they may not send a representative
      </li>
    </ul>
  </li>
  <li>All members shall be entitled to attend ODI open data bi-annual ODI networking evenings as follows:
    <ul>
      <li>a. Partners may send 3 attendees and shall be entitled to brand as a Platinum Sponsor
      </li>
      <li>b. Sponsors may send 2 attendees and shall be entitled to brand as a Sponsor
      </li>
      <li>c. Members and Supporters may send 1 attendee
      </li>
    </ul>
  </li>
  <li>The following conditions shall apply:
    <ul>
      <li>a. All persons attending on behalf of an organisations member must be a director and/ or an 
        employee of the organisation
      </li>
      <li>b. Individual members may attend in person; they may not send a representative
      </li>
    </ul>
  </li>
  <li>All members shall be entitled to <strong>free</strong> use of ODI desk space and ODI meeting rooms 
    in accordance with the current ODI Facilities Policy as follows:
    <ul>
      <li>a. Partners may use ODI desk space on up to 36 visits (a visit constitutes 3hrs of working time 
        max during a day) per year and may use ODI meeting rooms for up to 18 hours per year
      </li>
      <li>b. Sponsors may use ODI desk space on up to 12 visits per year and may use ODI meeting rooms for
        up to 6 hours per year
      </li>
      <li>c. Members may use ODI desk space on up to 6 visits per year and may use ODI meeting rooms for up 
        to 3 hours per year
      </li>
      <li>d. Supporters may request use of ODI desk space and ODI meeting rooms entirely at the discretion 
        of ODI.
      </li>
      <li>e. Use of ODI desk space and ODI meeting rooms is subject to availability. Free use of ODI meeting 
        rooms shall be restricted to ODI pods but larger rooms may be booked at charges published on the ODI website.
      </li>
      <li>f. The use of desk space and other membership benefits is subject to receipt of payment in full for 
        membership.
      </li>
    </ul>
  </li>
</ol>
<h4>
  V. Termination of membership
</h4>
<ol>
  <li>Without prejudice to any other rights or remedies which the parties may have, ODI <strong>may</strong> 
    terminate any membership if:
    <ul>
      <li>a. a member fails to pay any membership fees within 30 days of the invoice date;
      </li>
      <li>b. if a member is involved in any regulatory actions, civil or criminal proceedings or any other 
        acts or omissions as a consequence of which the member's continued membership may, in the sole opinion 
        of ODI, be prejudicial to ODI or bring ODI into disrepute;
      </li>
      <li>c. a member suspends, or threatens to suspend, payment of its debts, is unable to pay its debts as 
        they fall due, admits inability to pay its debts or (being a company) is deemed unable to pay its debts 
        within the meaning of section 123 of the Insolvency Act 1986 or (being a natural person) is deemed either 
        unable to pay its debts or as having no reasonable prospect of so doing, in either case, within the 
        meaning of section 268 of the Insolvency Act 1986 or (being a partnership) has any partner to whom any 
        of the foregoing apply; or
      </li>
      <li>d. any event occurs, or proceeding is taken, with respect to a member in any jurisdiction to which it 
        is subject that has an effect equivalent or similar to any of the events mentioned in the previous 
        clause; or
      </li>
      <li>e. a member suspends or ceases, or threatens to suspend or cease, to carry on all or a substantial 
        part of its business; or
      </li>
      <li>f. there is a change of control of a member (as defined in section 574 of the Capital Allowances Act 2001).
      </li>
    </ul>
  </li>
  <li>Without prejudice to any other rights or remedies which the parties may have, the Member may terminate 
    the Agreement:
    <ul>
      <li>a. if the ODI is involved in any regulatory actions, civil or criminal proceedings or any other 
        acts or omissions as a consequence of which Member’s continued membership of the ODI organisation 
        may, in the sole opinion of Member, be prejudicial to Member or bring Member into disrepute;
      </li>
      <li>b. the ODI suspends, or threatens to suspend, payment of its debts, is unable to pay its debts as 
        they fall due, admits inability to pay its debts or (being a company) is deemed unable to pay its 
        debts within the meaning of section 123 of the Insolvency Act 1986; or
      </li>
      <li>c. any event occurs, or proceeding is taken, with respect to the ODI in any jurisdiction to which 
        it is subject that has an effect equivalent or similar to any of the events mentioned in clause above; 
        or
      </li>
      <li>d. the ODI suspends or ceases, or threatens to suspend or cease, to carry on all or a substantial 
        part of its business; or
      </li>
      <li>e. 12 months after the original membership date or any anniversary thereafter by giving not less 
        than 30 days notice, such notice to expire on the relevant anniversary of the original membership date.
      </li>
    </ul>
  </li>
</ol>
<h4>
  VI. Effects of termination
</h4>
<ol>
  <li>On termination of membership for any reason:
    <ul>
      <li>a. the member in question shall immediately pay ODI any sums owing to it as at the date of termination
      </li>
      <li>b. the member in question shall within 7 working days of termination ensure that any reference to 
        ODI, of the member in question 's membership of it together with any of ODI's trade marks, are removed 
        from all advertising and promotional materials, websites, stationery and other materials of the member 
        in question
      </li>
      <li>c. the member in question shall immediately cease promoting and advertising its relationship with ODI 
        and distributing any materials referring to it; and
      </li>
      <li>d. the member in question shall take all reasonable steps to ensure that third parties are not misled 
        as to the current relationship with ODI by virtue of any materials that remain in the market place and 
        public domain.
      </li>
    </ul>
  </li>
</ol>
<h4>
  VII. Limitation of liability
</h4>
<ol>
  <li>This clause VII. sets out the entire financial liability of the parties (including any liability for 
    the acts or omissions of its employees, agents, consultants, and subcontractors) to the other in respect of:
    <ul>
      <li>a. any breach of these Terms &amp; Conditions;
      </li>
      <li>b. any use made by any member of its membership of ODI; and
      </li>
      <li>c. any representation, statement or tortious act or omission (including negligence) arising under or 
        in connection with these Terms.
      </li>
    </ul>
  </li>
  <li>All warranties, conditions and other terms implied by statute or common law are, to the fullest extent 
    permitted by law, excluded.
  </li>
  <li>Nothing in these Terms &amp; Conditions limits or excludes the liability of ODI or the Member:
    <ul>
      <li>a. for death or personal injury resulting from negligence; or
      </li>
      <li>b. for any damage or liability incurred by the Member or ODI (as applicable) as a result of fraud or 
        fraudulent misrepresentation by the other.
      </li>
    </ul>
  </li>
  <li>The parties shall not be liable for loss of profits; loss of business; depletion of goodwill and/or similar 
    losses; loss of anticipated savings; loss of goods; loss of contract; loss of use; loss of corruption of data 
    or information; or any special, indirect, consequential or pure economic loss, costs, damages, charges or expenses.
  </li>
  <li>Each party’s total liability in contract, tort (including negligence or breach of statutory duty), 
    misrepresentation, restitution or otherwise arising in connection with the performance, or contemplated 
    performance, of these Terms &amp; Conditions shall be limited to the annual membership fee paid by the 
    Member in the year to which any claim relates.
  </li>
  <li>Whilst ODI uses reasonable endeavours to ensure that any ODI website used by members is available at all 
    times, ODI makes no warranty that any such website will meet any member's requirements or will be uninterrupted, 
    timely, secure or error-free, that defects will be corrected or that the website or the server that makes it 
    available is free of viruses or bugs or is fully functional, accurate or reliable.
  </li>
</ol>
<h4>
  VIII. Waiver
</h4>
<ol>
  <li>A waiver of any right under this agreement is only effective if it is in writing and it applies only to the 
    party to whom the waiver is addressed and the circumstances for which it is given.
  </li>
  <li>Unless specifically provided otherwise, rights arising under this agreement are cumulative and do not exclude 
    rights provided by law.
  </li>
</ol>
<h4>
  IX. Third Party Rights
</h4>
<ol>
  <li>This agreement is made for the benefit of the parties to it and (where applicable) their successors and 
    permitted assigns, and is not intended to benefit, or be enforceable by, anyone else.
  </li>
</ol>
<h4>
  X. Governing Law and Jurisdiction
</h4>
<ol>
  <li>This agreement and any disputes or claims arising out of or in connection with it or its subject matter or 
    formation (including non-contractual disputes or claims) are governed by, and construed in accordance with, 
    the law of England.
  </li>
  <li>The parties irrevocably agree that the courts of England have exclusive jurisdiction to settle any dispute 
    or claim that arises out of or in connection with this agreement or its subject matter or formation (including
    non-contractual disputes or claims).
  </li>
</ol>
