:markdown
	This Agreement is made [DATE] by and between the Open Data Institute having its principal place of business at 3rd Floor, 65 Clifton Street, London, EC2A 4JE (“ODI”) and your organisation.

	Whereas ODI seeks to admit members to its organisation and to work with and provide services to them;

	Whereas your organisation wishes to be admitted as a [TIER] of the ODI organisation;

	  1. Member agrees to pay an annual membership subscription of [AMOUNT]. 
	  2. The General Terms and Conditions of Membership as set out in Schedule 1 are incorporated in and shall form part of this Agreement. 
	  3. All notices or other communications to or upon either party shall be in email and writing to 
	    a. ODI: 3rd Floor, 65 Clifton Street, London, EC2A 4JE and members@theodi.org
	    b. Member: email address registered on their account
	  4. Member warrants and undertakes that it is and will, throughout the period of its membership, remain in compliance with the eligibility criteria for its category of membership as set out in the document attached to this Agreement and further that it will throughout the period of membership comply fully with all its responsibilities and obligations set out in the Agreement and abide by the terms and conditions as set out in this Agreement. 

	###  Schedule 1

	####  I. Terms and Conditions

	  1. We are the Open Data Institute Limited (full legal name) (“ODI”). The ODI is (a not for profit limited by guarantee company The ODI is located at (see above for full address) 
	  2. The following are the General Terms and Conditions of Membership of the ODI 

	####  II. Membership subscription

	  1. Membership is open to both organisations and individuals from around the world. 
	  2. Membership subscription of the ODI is open to organisations in one of the following membership categories: 
	    a. Partner 
	    b. Sponsor 
	    c. Member 
	    d. Supporter 
	  3. Individuals may become members in either the Member or Supporter categories of membership. 
	  4. Membership as a Partner or a Sponsor is for a minimum period of 3 years; membership as a Member or Supporter is for a minimum period of 1 year; in each case subject to earlier termination in accordance with the terms of this Agreement. 
	  5. Membership of the ODI is subject at all times to the approval of the ODI Board of Directors. 
	  6. Organisations becoming members of the ODI model agree to have the terms of their contractual relationship with the ODI published by the ODI or other / any authorised third parties as open data. The ODI will make available all details of the financial arrangements, in kind commitments and any other data pertaining to the membership of the ODI by the organisation in question. 

	####  III. Membership Fees, Renewal and Payment

	  1. Membership fees are set from time to time by the ODI Board of Directors. Existing members will be notified of any increase in membership fees a minimum of 90 days prior to the next membership renewal date. 
	  2. The current membership fees are as follows: 
	  	a. Partner: £50,000 per annum of which up to £15,000 per annum may be payment in kind 
	    b. Sponsor: £25,000 per annum of which up to £7,500 may be payment in kind 
	    c. Member: £4,800 per annum 
	    d. Supporter: £540 per annum 
	  3. Payments in kind may be through the contribution of services, technology or other expertise as agreed and valued in advance with ODI. 
	  4. All per annum membership fees will be invoiced at the commencement of the membership term and each year thereafter, and shall be payable in full within 60 days from the date of the invoice. The stated membership fees are subject to VAT at the prevailing rate that ODI shall add to its invoices as applicable. 
	  5. Unless this Agreement is terminated earlier in accordance with its terms, this Agreement shall automatically renew for successive one year periods unless 30 days notice is given to terminate the Agreement. 
	  6. Also the organisations using a payment in kind agree to invoice the ODI for the cost of the payment in kind (plus VAT) each year and the ODI will then deduct this from the membership invoice. 

	####  IV. Entitlement of members

	#####  Training, education, research and professional services discount 

	1. All members shall be entitled to 20% discount on published OD training courses and day rates on professional services contracts entered into with ODI during their membership subject to the following limits: 

	    a. Supporter - Maximum of 12 training courses, Professional Services to the value of £10,000 
	    b. Member - Professional Services to the value of £50,000 
	    c. Sponsor - Professional Services to the value of £100,000 
	    d. Partner - Unlimited 

	#####  Training and professional services vouchers

	  1. Partners shall receive training and professional services vouchers worth £18,000 annually. 
	  2. Sponsors shall receive training and professional services vouchers worth £7,000 annually. 
	  3. Members shall receive training and professional services vouchers worth £1,000 annually. 
	  4. Such vouchers may be used against the net cost (i.e. exclusive of VAT) of ODI professional services, training and research work but must be used annually and may not be carried forward. The use of these vouchers is subject to membership fees for that year being received in full. 

	#####  Branding, events, networking and collaboration 

	All members shall be entitled to Brand Placement and Recognition as follows: 

	1. Partners: 
	  	a. Partner names and logos shall be displayed on the ODI website. 
	    b. Partner will be entitled to headline (on a non-exclusive basis) with the ODI Annual Summit. 
	    c. Partner shall be responsible for providing appropriate event branding collateral. 
	2. Sponsors: names and logos shall be displayed on the ODI website and at ODI networking events. Sponsors shall be responsible for providing appropriate branding collateral 
	3. Members names and logos shall be displayed on the ODI website 
	4. Supporters names shall be displayed as text on the ODI website 
	5. Branding opportunities with the Open Data Institute associated events during the membership term at the discretion of ODI. Events are generally associated to sectors and as such will attract relevant interested attendees. 
	6. Subject to the approval of the ODI Board, Partners shall be entitled to one representative on the Sector Pioneers Board to which ODI may appoint other representatives from industry, public sector and the SME, not for profit/charity and start-up communities. Sector Pioneers lead and inform the debate on open data within their respective industries, meet on a quarterly basis and provide input 

	#####  Annual Summit 

	  1. All organisation members shall be entitled to attend the ODI Annual Summit at no charge (the event is limited to circa 200 attendees and is chargeable to non members) as follows: 
	  	a. Partners may send up to 3 attendees 
	    b. Sponsors may send up to 2 attendees, and nominate up to 1 speaker 
	    c. Members and Supporter organisations may send 1 attendee 
	    d. All persons attending on behalf of an organisations member must be a director and/ or an employee of the organisation 
	    e. Individual members may attend in person; they may not send a representative 
	  2. All members shall be entitled to attend ODI open data bi-annual ODI networking evenings as follows: 
	    a. Partners may send 3 attendees and shall be entitled to brand as a Platinum Sponsor 
	    b. Sponsors may send 2 attendees and shall be entitled to brand as a Sponsor 
	    c. Members and Supporters may send 1 attendee 
	  3. The following conditions shall apply: 
	    d. All persons attending on behalf of an organisations member must be a director and/ or an employee of the organisation 
	    e. Individual members may attend in person; they may not send a representative 
	  4. All members shall be entitled to **free** use of ODI desk space and ODI meeting rooms in accordance with the current ODI Facilities Policy as follows: 
	    a. Partners may use ODI desk space on up to 36 visits (a visit constitutes 3hrs of working time max during a day) per year and may use ODI meeting rooms for up to 18 hours per year 
	    b. Sponsors may use ODI desk space on up to 12 visits per year and may use ODI meeting rooms for up to 6 hours per year 
	    c. Members may use ODI desk space on up to 6 visits per year and may use ODI meeting rooms for up to 3 hours per year 
	    d. Supporters may request use of ODI desk space and ODI meeting rooms entirely at the discretion of ODI. 
	    e. Use of ODI desk space and ODI meeting rooms is subject to availability. Free use of ODI meeting rooms shall be restricted to ODI pods but larger rooms may be booked at charges published on the ODI website. 
	    f. The use of desk space and other membership benefits is subject to receipt of payment in full for membership. 

	####  V. Termination of membership

	  1. Without prejudice to any other rights or remedies which the parties may have, ODI **may** terminate any membership if: 
	    a. a member fails to pay any membership fees within 30 days of the invoice date; 
	    b. if a member is involved in any regulatory actions, civil or criminal proceedings or any other acts or omissions as a consequence of which the member's continued membership may, in the sole opinion of ODI, be prejudicial to ODI or bring ODI into disrepute; 
	    c. a member suspends, or threatens to suspend, payment of its debts, is unable to pay its debts as they fall due, admits inability to pay its debts or (being a company) is deemed unable to pay its debts within the meaning of section 123 of the Insolvency Act 1986 or (being a natural person) is deemed either unable to pay its debts or as having no reasonable prospect of so doing, in either case, within the meaning of section 268 of the Insolvency Act 1986 or (being a partnership) has any partner to whom any of the foregoing apply; or 
	    d. any event occurs, or proceeding is taken, with respect to a member in any jurisdiction to which it is subject that has an effect equivalent or similar to any of the events mentioned in the previous clause; or 
	    e. a member suspends or ceases, or threatens to suspend or cease, to carry on all or a substantial part of its business; or 
	    f. there is a change of control of a member (as defined in section 574 of the Capital Allowances Act 2001). 
	  3. Without prejudice to any other rights or remedies which the parties may have, the Member may terminate the Agreement: 
	    a. if the ODI is involved in any regulatory actions, civil or criminal proceedings or any other acts or omissions as a consequence of which Member’s continued membership of the ODI organisation may, in the sole opinion of Member, be prejudicial to Member or bring Member into disrepute; 
	    b. the ODI suspends, or threatens to suspend, payment of its debts, is unable to pay its debts as they fall due, admits inability to pay its debts or (being a company) is deemed unable to pay its debts within the meaning of section 123 of the Insolvency Act 1986; or 
	    c. any event occurs, or proceeding is taken, with respect to the ODI in any jurisdiction to which it is subject that has an effect equivalent or similar to any of the events mentioned in clause above; or 
	    d. the ODI suspends or ceases, or threatens to suspend or cease, to carry on all or a substantial part of its business; or 
	    e. 12 months after the original membership date or any anniversary thereafter by giving not less than 30 days notice, such notice to expire on the relevant anniversary of the original membership date. 

	####  VI. Effects of termination

	1. On termination of membership for any reason: 
	    a. the member in question shall immediately pay ODI any sums owing to it as at the date of termination 
	    b. the member in question shall within 7 working days of termination ensure that any reference to ODI, of the member in question 's membership of it together with any of ODI's trade marks, are removed from all advertising and promotional materials, websites, stationery and other materials of the member in question 
	    c. the member in question shall immediately cease promoting and advertising its relationship with ODI and distributing any materials referring to it; and 
	    d. the member in question shall take all reasonable steps to ensure that third parties are not misled as to the current relationship with ODI by virtue of any materials that remain in the market place and public domain. 

	####  VII. Limitation of liability

	  1. This clause VII. sets out the entire financial liability of the parties (including any liability for the acts or omissions of its employees, agents, consultants, and subcontractors) to the other in respect of: 
	    a. any breach of these Terms &amp; Conditions; 
	    b. any use made by any member of its membership of ODI; and 
	    c. any representation, statement or tortious act or omission (including negligence) arising under or in connection with these Terms. 
	  2. All warranties, conditions and other terms implied by statute or common law are, to the fullest extent permitted by law, excluded. 
	  3. Nothing in these Terms &amp; Conditions limits or excludes the liability of ODI or the Member: 
	    a. for death or personal injury resulting from negligence; or 
	    b. for any damage or liability incurred by the Member or ODI (as applicable) as a result of fraud or fraudulent misrepresentation by the other. 
	  4. The parties shall not be liable for loss of profits; loss of business; depletion of goodwill and/or similar losses; loss of anticipated savings; loss of goods; loss of contract; loss of use; loss of corruption of data or information; or any special, indirect, consequential or pure economic loss, costs, damages, charges or expenses. 
	  5. Each party’s total liability in contract, tort (including negligence or breach of statutory duty), misrepresentation, restitution or otherwise arising in connection with the performance, or contemplated performance, of these Terms &amp; Conditions shall be limited to the annual membership fee paid by the Member in the year to which any claim relates. 
	  6. Whilst ODI uses reasonable endeavours to ensure that any ODI website used by members is available at all times, ODI makes no warranty that any such website will meet any member's requirements or will be uninterrupted, timely, secure or error-free, that defects will be corrected or that the website or the server that makes it available is free of viruses or bugs or is fully functional, accurate or reliable. 

	####  VIII. Waiver

	  1. A waiver of any right under this agreement is only effective if it is in writing and it applies only to the party to whom the waiver is addressed and the circumstances for which it is given. 
	  2. Unless specifically provided otherwise, rights arising under this agreement are cumulative and do not exclude rights provided by law. 

	####  IX. Third Party Rights

	1. This agreement is made for the benefit of the parties to it and (where applicable) their successors and permitted assigns, and is not intended to benefit, or be enforceable by, anyone else. 

	####  X. Governing Law and Jurisdiction

	  1. This agreement and any disputes or claims arising out of or in connection with it or its subject matter or formation (including non-contractual disputes or claims) are governed by, and construed in accordance with, the law of England. 
	  2. The parties irrevocably agree that the courts of England have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with this agreement or its subject matter or formation (including non-contractual disputes or claims). 