---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=13&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=corporate_supporter_monthly&description=FooBar%20Inc%20corporate%20supporter%20membership%20(PB5248OV)
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card's expiration month
        is invalid.\",\n    \"type\": \"card_error\",\n    \"param\": \"exp_month\",\n
        \   \"code\": \"invalid_expiry_month\"\n  }\n}\n"
  recorded_at: Wed, 11 Jun 2014 14:12:10 GMT
recorded_with: VCR 2.9.2
