---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424241&card[cvc]=123&plan=sme_supporter&description=Membership%20for%20&email=iain%40foobar.com
    headers:
      Authorization:
      - Bearer sk_<RAILS_ENV>_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card number is incorrect.\",\n
        \   \"type\": \"card_error\",\n    \"param\": \"number\",\n    \"code\": \"incorrect_number\"\n
        \ }\n}\n"
  recorded_at: Tue, 10 Jun 2014 14:02:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424241&card[cvc]=123&plan=sme_supporter&description=Membership%20for%20&email=iain%40foobar.com
    headers:
      Authorization:
      - Bearer sk_<RAILS_ENV>_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card number is incorrect.\",\n
        \   \"type\": \"card_error\",\n    \"param\": \"number\",\n    \"code\": \"incorrect_number\"\n
        \ }\n}\n"
  recorded_at: Tue, 10 Jun 2014 14:03:00 GMT
recorded_with: VCR 2.9.2
