<p>
	Hi,
</p>

<p>
	Unfortunately, we've had a problem. A membership contact email was not set for a party in CapsuleCRM. 
	This means we can't create a membership number for them.
</p>

<p>
  To fix this, please add a membership email to
  <a href='<%= @link %>'><%= @link %></a>.
</p>

<p>
	Thanks,<br/>
	Your friendly ODI robot
</p>