<p>
  Hi,
</p>

<p>
  Unfortunately, we've had a problem creating a membership from Capsule CRM.
  Please check that the record in Capsule CRM has the correct information.
</p>

<p>Required fields are:</p>

<p>For Organizations</p>

<ul>
  <li>Name</li>
  <li>Email</li>
  <li>Membership tag - Product Name</li>
  <li>Membership tag - Email</li>
</ul>

<p>For People</p>

<ul>
  <li>First name</li>
  <li>Last name</li>
  <li>Email</li>
  <li>Membership tag - Product Name</li>
  <li>Membership tag - Email</li>
</ul>

<p>
  To fix this, edit the member in Capsule CRM <a href='<%= @link %>'><%= @link %></a>.
</p>

<p>
  Thanks,<br/>
  Your friendly ODI robot
</p>

