/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome.min
 *= require_tree .
 */

.organization h2 {
	display: none;
}
 
 #terms {
	 height: 200px;
	 overflow-y: scroll;
 }

 #terms ol li ol li {
   list-style-type: lower-alpha;
 }
 
 #terms ol li ol li ol li {
   list-style-type: lower-roman;
 }
 
 #terms h5 {
   font-style: italic;
 }
 
 .field_with_errors {
     display:inline;
     margin:0px;
     padding:0px;
 }
 
 
 /* Preview area */
 .preview {
   position: relative;
   margin: 15px 0;
   padding: 39px 19px 14px;
   *padding-top: 19px;
   background-color: #fff;
   border: 1px solid #ddd;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
 }

.preview:after {
   content: "Preview";
   position: absolute;
   top: -1px;
   left: -1px;
   padding: 3px 7px;
   font-size: 12px;
   font-weight: bold;
   background-color: #f5f5f5;
   border: 1px solid #ddd;
   color: #9da0a4;
   -webkit-border-radius: 4px 0 4px 0;
      -moz-border-radius: 4px 0 4px 0;
           border-radius: 4px 0 4px 0;
 }
 
.label.supporter {
 background-color: #05d3ab;
}

.label.member {
 background-color: #00b7ff;
}

.label.sponsor {
 background-color: #ef3aab;
}

.label.partner {
 background-color: #0dbc37;
}

.main-default i {
	display: inline;
}