// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#badgeDownload .preview.well {
  height: 200px;
  text-align: center;

  .image-padding {
    height: 170px;
    line-height: 170px;
    margin: 0 auto 10px;
    vertical-align: middle;
  }
}

#what-are-nodes {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.pay-by-invoice {
  font-size: 14px;
  margin-top: 20px;
}

.control-group.newsletter {
  .controls {
    margin-left: 28px;
  }
}

.main-default {
  input.datepicker {
    width: 120px;
  }
}

