<h2><%= organization.name %></h2>

<%= simple_format(organization.description) %>

<% unless organization.url.blank? %>
  <ul>
    <li><%= link_to "Visit website", organization.url, :id => 'organizationurl' %></li>
  </ul>
<% end %>