<h2>Edit your organisation profile</h2>

<p class="lead">
	Please add your organisation's details which will be added to our member directory once your membership is confirmed.
</p>

<%= error_messages(@organization) %>

<%= form_for(@organization, :url => '/organizations/preview', :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="form-actions">
    <%= f.submit 'Preview', :class => 'btn btn-primary' %>
  </div>

<% end %>