<p class="lead">
  See below to see how your profile will look in our directory. 
</p>

<p class="lead">
  If you're happy with this, <a href="http://www.theodi.com">return to the ODI website</a>, otherwise click <a href="/organizations/edit" class="btn btn-primary">edit</a> to make any changes
</p>

<%= render :partial => 'organization', :locals => { :organization => @organization } %>