<h1>Upload results</h1>

<p>
  Created <%= pluralize @members.count, "new member" %>.
</p>

<ul>
  <% @members.each do |member| %>
    <li><%= member.name %> &lt;<%= member.email %>&gt;</li>
  <% end %>
</ul>