---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5TGpFaecsUCRH8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1420638957,\n
        \ \"id\": \"cus_5TGpFaecsUCRH8\",\n  \"livemode\": false,\n  \"description\":
        \"FooBar Inc  membership (SR3067TZ)\",\n  \"email\": null,\n
        \ \"delinquent\": false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\":
        \"list\",\n    \"total_count\": 1,\n    \"has_more\": false,\n    \"url\":
        \"/v1/customers/cus_5TGpFaecsUCRH8/subscriptions\",\n    \"data\": [\n      {\n
        \       \"id\": \"sub_5TGpKobUMMex33\",\n        \"plan\": {\n          \"interval\":
        \"year\",\n          \"name\": \"SME \\u0026
        Nonprofit Supporter\",\n          \"created\": 1420638871,\n
        \         \"amount\": 86400,\n          \"currency\":
        \"gbp\",\n          \"id\": \"supporter_annual\",\n          \"object\": \"plan\",\n
        \         \"livemode\": false,\n          \"interval_count\": 1,\n          \"trial_period_days\":
        null,\n          \"metadata\": {},\n          \"statement_descriptor\": null,\n
        \         \"statement_description\": null\n        },\n        \"object\":
        \"subscription\",\n        \"start\": 1420638957,\n        \"status\":
        \"active\",\n        \"customer\": \"cus_5TGpFaecsUCRH8\",\n        \"cancel_at_period_end\":
        false,\n        \"current_period_start\": 1420638957,\n        \"current_period_end\":
        1452174957,\n        \"ended_at\": null,\n        \"trial_start\": null,\n
        \       \"trial_end\": null,\n        \"canceled_at\": null,\n        \"quantity\":
        1,\n        \"application_fee_percent\": null,\n        \"discount\": null,\n
        \       \"tax_percent\": null,\n        \"metadata\": {}\n      }\n    ]\n
        \ },\n  \"discount\": null,\n  \"account_balance\": 0,\n
        \ \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_5TGpFaecsUCRH8/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_15IKHx4oB0YITArSt8SDU3H0\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"brand\":
        \"Visa\",\n        \"funding\": \"credit\",\n        \"exp_month\": 12,\n
        \       \"exp_year\": 2016,\n        \"fingerprint\": \"qBYthW9tt9MyrCdj\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"dynamic_last4\": null,\n
        \       \"customer\": \"cus_5TGpFaecsUCRH8\",\n        \"type\": \"Visa\"\n
        \     }\n    ]\n  },\n  \"default_card\": \"card_15IKHx4oB0YITArSt8SDU3H0\"\n}\n"
  recorded_at: Wed, 07 Jan 2015 13:55:58 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5TGwDgYSf7msEP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      s[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=supporter_annual&description=FooBar%20Inc%20%20membership%20(ST1884EG)
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
    [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5TGyniLwoVUDbK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      s[...]
[...]
