---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=2015_corporate_supporter_annual&description=FooBar%20Inc%20corporate%20supporter%20membership%20(CF9<TERM_PROGRAM_VERSION>BF)
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1420551473,\n
        \ \"id\": \"cus_5StJqNI4Y6PUtq\",\n  \"livemode\": false,\n  \"description\":
        \"FooBar Inc corporate supporter membership (CF9<TERM_PROGRAM_VERSION>BF)\",\n
        \ \"email\": null,\n  \"delinquent\": false,\n  \"metadata\": {},\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"total_count\": 1,\n    \"has_more\": false,\n
        \   \"url\": \"/v1/customers/cus_5StJqNI4Y6PUtq/subscriptions\",\n    \"data\":
        [\n      {\n        \"id\": \"sub_5StJY6rwiiKUbN\",\n        \"plan\": {\n
        \         \"interval\": \"year\",\n          \"name\": \"Corporate Supporter
        Annual (2015 prices)\",\n          \"created\": 1420547324,\n
        \         \"amount\": 264000,\n
        \         \"currency\": \"gbp\",\n          \"id\": \"2015_corporate_supporter_annual\",\n
        \         \"object\": \"plan\",\n          \"livemode\": false,\n          \"interval_count\":
        1,\n          \"trial_period_days\": null,\n          \"metadata\": {},\n
        \         \"statement_descriptor\": null,\n          \"statement_description\":
        null\n        },\n        \"object\": \"subscription\",\n        \"start\":
        1420551473,\n        \"status\": \"active\",\n        \"customer\":
        \"cus_5StJqNI4Y6PUtq\",\n        \"cancel_at_period_end\": false,\n        \"current_period_start\":
        1420551473,\n        \"current_period_end\": 1452087473,\n
        \       \"ended_at\": null,\n        \"trial_start\": null,\n        \"trial_end\":
        null,\n        \"canceled_at\": null,\n        \"quantity\": 1,\n        \"application_fee_percent\":
        null,\n        \"discount\": null,\n        \"tax_percent\": null,\n        \"metadata\":
        {}\n      }\n    ]\n  },\n  \"discount\": null,\n  \"account_balance\": 0,\n
        \ \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_5StJqNI4Y6PUtq/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_15HxWv4oB0YITArSbnx7QMHe\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"brand\":
        \"Visa\",\n        \"funding\": \"credit\",\n        \"exp_month\": 12,\n
        \       \"exp_year\": 2016,\n        \"fingerprint\": \"qBYthW9tt9MyrCdj\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"dynamic_last4\": null,\n
        \       \"customer\": \"cus_5StJqNI4Y6PUtq\",\n        \"type\": \"Visa\"\n
        \     }\n    ]\n  },\n  \"default_card\": \"card_15HxWv4oB0YITArSbnx7QMHe\"\n}\n"
  recorded_at: Tue, 06 Jan 2015 13:37:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5StJqNI4Y6PUtq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij0yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      s[...]
[...]
