---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2<XPC_SERVICE_NAME>16&card[number]=4242424242424242&card[cvc]=123&plan=supporter&description=FooBar%2<XPC_SERVICE_NAME>Inc%2<XPC_SERVICE_NAME>supporter%2<XPC_SERVICE_NAME>membership%2<XPC_SERVICE_NAME>(SA9794PK)
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij<XPC_SERVICE_NAME>yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>14-<XPC_SERVICE_NAME>5-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"type\": \"invalid_request_error\",\n    \"message\":
        \"No such plan: supporter\",\n    \"param\": \"plan\"\n  }\n}\n"
  recorded_at: Wed, 07 Jan 2015 13:23:27 GMT
recorded_with: VCR 2.9.3
