---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=supporter_monthly&description=FooBar%20Inc%20supporter%20membership%20(AJ9441LE)
    headers:
      Authorization:
      - Bearer sk_test_7kLYGwRBAYCafjm0gcyvDAIK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1410865779,\n
        \ \"id\": \"cus_4mtdVoKK02XFOC\",\n  \"livemode\": false,\n
        \ \"description\": \"FooBar Inc supporter membership (AJ9441LE)\",\n  \"email\":
        null,\n  \"delinquent\": false,\n  \"metadata\": {},\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"total_count\": 1,\n    \"has_more\": false,\n
        \   \"url\": \"/v1/customers/cus_4mtdVoKK02XFOC/subscriptions\",\n
        \   \"data\": [\n      {\n        \"id\": \"sub_4mtduNdqyniFij\",\n        \"plan\":
        {\n          \"interval\": \"month\",\n          \"name\": \"Supporter (Monthly)\",\n
        \         \"created\": 1403274208,\n          \"amount\":
        7200,\n          \"currency\": \"gbp\",\n
        \         \"id\": \"supporter_monthly\",\n          \"object\": \"plan\",\n
        \         \"livemode\": false,\n          \"interval_count\": 1,\n          \"trial_period_days\":
        null,\n          \"metadata\": {},\n          \"statement_description\": null\n
        \       },\n        \"object\": \"subscription\",\n        \"start\": 1410865779,\n
        \       \"status\": \"active\",\n        \"customer\": \"cus_4mtdVoKK02XFOC\",\n
        \       \"cancel_at_period_end\": false,\n        \"current_period_start\":
        1410865779,\n        \"current_period_end\": 1413457779,\n
        \       \"ended_at\": null,\n        \"trial_start\": null,\n        \"trial_end\":
        null,\n        \"canceled_at\": null,\n        \"quantity\": 1,\n        \"application_fee_percent\":
        null,\n        \"discount\": null,\n        \"metadata\": {}\n      }\n    ]\n
        \ },\n  \"discount\": null,\n  \"account_balance\": 0,\n
        \ \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4mtdVoKK02XFOC/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_14dJq34AkkLX9BwVd1xwHmIN\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"brand\":
        \"Visa\",\n        \"funding\": \"credit\",\n        \"exp_month\": 12,\n
        \       \"exp_year\": 2016,\n        \"fingerprint\": \"ynpvkg0lBh03Sjdq\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"customer\": \"cus_4mtdVoKK02XFOC\",\n
        \       \"type\": \"Visa\"\n      }\n    ]\n  },\n  \"default_card\": \"card_14dJq34AkkLX9BwVd1xwHmIN\"\n}\n"
  recorded_at: Tue, 16 Sep 2014 11:09:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4mtdVoKK02XFOC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7kLYGwRBAYCafjm0gcyvDAIK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2014-05-19
    body:
      encoding: US-ASCII
      s[...]
[...]
