---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2<XPC_SERVICE_NAME>16&card[number]=4242424242424242&card[cvc]=123&plan=2<XPC_SERVICE_NAME>15_corporate_supporter_annual&description=FooBar%2<XPC_SERVICE_NAME>Inc%2<XPC_SERVICE_NAME>%2<XPC_SERVICE_NAME>membership%2<XPC_SERVICE_NAME>(BB1933CS)
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij<XPC_SERVICE_NAME>yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>14-<XPC_SERVICE_NAME>5-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 142<XPC_SERVICE_NAME>639374,\n
        \ \"id\": \"cus_5TGwI<XPC_SERVICE_NAME>JaUcnA92\",\n  \"livemode\": false,\n
        \ \"description\": \"FooBar Inc  membership (BB1933CS)\",\n  \"email\": null,\n
        \ \"delinquent\": false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\":
        \"list\",\n    \"total_count\": 1,\n    \"has_more\": false,\n    \"url\":
        \"/v1/customers/cus_5TGwI<XPC_SERVICE_NAME>JaUcnA92/subscriptions\",\n    \"data\":
        [\n      {\n        \"id\": \"sub_5TGwoRKFyBVDcC\",\n        \"plan\": {\n
        \         \"interval\": \"year\",\n          \"name\": \"Corporate Supporter
        Annual (2<XPC_SERVICE_NAME>15 prices)\",\n          \"created\": 142<XPC_SERVICE_NAME>547324,\n
        \         \"amount\": 264<XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME>,\n
        \         \"currency\": \"gbp\",\n          \"id\": \"2<XPC_SERVICE_NAME>15_corporate_supporter_annual\",\n
        \         \"object\": \"plan\",\n          \"livemode\": false,\n          \"interval_count\":
        1,\n          \"trial_period_days\": null,\n          \"metadata\": {},\n
        \         \"statement_descriptor\": null,\n          \"statement_description\":
        null\n        },\n        \"object\": \"subscription\",\n        \"start\":
        142<XPC_SERVICE_NAME>639374,\n        \"status\": \"active\",\n        \"customer\":
        \"cus_5TGwI<XPC_SERVICE_NAME>JaUcnA92\",\n        \"cancel_at_period_end\":
        false,\n        \"current_period_start\": 142<XPC_SERVICE_NAME>639374,\n        \"current_period_end\":
        1452175374,\n        \"ended_at\": null,\n        \"trial_start\": null,\n
        \       \"trial_end\": null,\n        \"canceled_at\": null,\n        \"quantity\":
        1,\n        \"application_fee_percent\": null,\n        \"discount\": null,\n
        \       \"tax_percent\": null,\n        \"metadata\": {}\n      }\n    ]\n
        \ },\n  \"discount\": null,\n  \"account_balance\": <XPC_SERVICE_NAME>,\n
        \ \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_5TGwI<XPC_SERVICE_NAME>JaUcnA92/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_15IKOg4oB<XPC_SERVICE_NAME>YITArSxlkLW8Y9\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"brand\":
        \"Visa\",\n        \"funding\": \"credit\",\n        \"exp_month\": 12,\n
        \       \"exp_year\": 2<XPC_SERVICE_NAME>16,\n        \"fingerprint\": \"qBYthW9tt9MyrCdj\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"dynamic_last4\": null,\n
        \       \"customer\": \"cus_5TGwI<XPC_SERVICE_NAME>JaUcnA92\",\n        \"type\":
        \"Visa\"\n      }\n    ]\n  },\n  \"default_card\": \"card_15IKOg4oB<XPC_SERVICE_NAME>YITArSxlkLW8Y9\"\n}\n"
  recorded_at: Wed, 07 Jan 2015 14:02:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5TGwI<XPC_SERVICE_NAME>JaUcnA92
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij<XPC_SERVICE_NAME>yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>[...]
[...]
