---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2<XPC_SERVICE_NAME>16&card[number]=4242424242424242&card[cvc]=123&plan=supporter_annual&description=FooBar%2<XPC_SERVICE_NAME>Inc%2<XPC_SERVICE_NAME>supporter%2<XPC_SERVICE_NAME>membership%2<XPC_SERVICE_NAME>(YW75<XPC_SERVICE_NAME>2VJ)
    headers:
      Authorization:
      - Bearer sk_test_7kLYGwRBAYCafjm<XPC_SERVICE_NAME>gcyvDAIK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>14-<XPC_SERVICE_NAME>5-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 141<XPC_SERVICE_NAME>865812,\n
        \ \"id\": \"cus_4mtdbHnQQQx<XPC_SERVICE_NAME>6c\",\n  \"livemode\": false,\n
        \ \"description\": \"FooBar Inc supporter membership (YW75<XPC_SERVICE_NAME>2VJ)\",\n
        \ \"email\": null,\n  \"delinquent\": false,\n  \"metadata\": {},\n  \"subscriptions\":
        {\n    \"object\": \"list\",\n    \"total_count\": 1,\n    \"has_more\": false,\n
        \   \"url\": \"/v1/customers/cus_4mtdbHnQQQx<XPC_SERVICE_NAME>6c/subscriptions\",\n
        \   \"data\": [\n      {\n        \"id\": \"sub_4mtdgKTGVQQG4z\",\n        \"plan\":
        {\n          \"interval\": \"year\",\n          \"name\": \"Supporter (Annual)\",\n
        \         \"created\": 14<XPC_SERVICE_NAME>3274165,\n          \"amount\":
        864<XPC_SERVICE_NAME><XPC_SERVICE_NAME>,\n          \"currency\": \"gbp\",\n
        \         \"id\": \"supporter_annual\",\n          \"object\": \"plan\",\n
        \         \"livemode\": false,\n          \"interval_count\": 1,\n          \"trial_period_days\":
        null,\n          \"metadata\": {},\n          \"statement_description\": null\n
        \       },\n        \"object\": \"subscription\",\n        \"start\": 141<XPC_SERVICE_NAME>865812,\n
        \       \"status\": \"active\",\n        \"customer\": \"cus_4mtdbHnQQQx<XPC_SERVICE_NAME>6c\",\n
        \       \"cancel_at_period_end\": false,\n        \"current_period_start\":
        141<XPC_SERVICE_NAME>865812,\n        \"current_period_end\": 14424<XPC_SERVICE_NAME>1812,\n
        \       \"ended_at\": null,\n        \"trial_start\": null,\n        \"trial_end\":
        null,\n        \"canceled_at\": null,\n        \"quantity\": 1,\n        \"application_fee_percent\":
        null,\n        \"discount\": null,\n        \"metadata\": {}\n      }\n    ]\n
        \ },\n  \"discount\": null,\n  \"account_balance\": <XPC_SERVICE_NAME>,\n
        \ \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4mtdbHnQQQx<XPC_SERVICE_NAME>6c/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_14dJqa4AkkLX9BwVSD5YGHFY\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"brand\":
        \"Visa\",\n        \"funding\": \"credit\",\n        \"exp_month\": 12,\n
        \       \"exp_year\": 2<XPC_SERVICE_NAME>16,\n        \"fingerprint\": \"ynpvkg<XPC_SERVICE_NAME>lBh<XPC_SERVICE_NAME>3Sjdq\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"customer\": \"cus_4mtdbHnQQQx<XPC_SERVICE_NAME>6c\",\n
        \       \"type\": \"Visa\"\n      }\n    ]\n  },\n  \"default_card\": \"card_14dJqa4AkkLX9BwVSD5YGHFY\"\n}\n"
  recorded_at: Tue, 16 Sep 2014 11:10:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4mtdbHnQQQx<XPC_SERVICE_NAME>6c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_7kLYGwRBAYCafjm<XPC_SERVICE_NAME>gcyvDAIK
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>[...]
[...]
