---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4CFrf8w03vb5eT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1402414783,\n  \"id\":
        \"cus_4CFrf8w03vb5eT\",\n  \"livemode\": false,\n  \"description\": \"Membership
        for \",\n  \"email\": \"iain@foobar.com\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4CFrf8w03vb5eT/subscriptions\",\n
        \   \"data\": [\n      {\n        \"id\": \"sub_4CFrxkzXs2aCbO\",\n        \"plan\":
        {\n          \"interval\": \"month\",\n          \"name\": \"SME \\u0026 Nonprofit
        Supporter\",\n          \"created\": 1402405731,\n          \"amount\": 7200,\n
        \         \"currency\": \"gbp\",\n          \"id\": \"sme_supporter\",\n          \"object\":
        \"plan\",\n          \"livemode\": false,\n          \"interval_count\": 1,\n
        \         \"trial_period_days\": null,\n          \"metadata\": {},\n          \"statement_description\":
        \"Membership\"\n        },\n        \"object\": \"subscription\",\n        \"start\":
        1402414783,\n        \"status\": \"active\",\n        \"customer\": \"cus_4CFrf8w03vb5eT\",\n
        \       \"cancel_at_period_end\": false,\n        \"current_period_start\":
        1402414783,\n        \"current_period_end\": 1405006783,\n        \"ended_at\":
        null,\n        \"trial_start\": null,\n        \"trial_end\": null,\n        \"canceled_at\":
        null,\n        \"quantity\": 1,\n        \"application_fee_percent\": null,\n
        \       \"discount\": null,\n        \"metadata\": {}\n      }\n    ]\n  },\n
        \ \"discount\": null,\n  \"account_balance\": 0,\n  \"currency\": \"gbp\",\n
        \ \"cards\": {\n    \"object\": \"list\",\n    \"total_count\": 1,\n    \"has_more\":
        false,\n    \"url\": \"/v1/customers/cus_4CFrf8w03vb5eT/cards\",\n    \"data\":
        [\n      {\n        \"id\": \"card_104CFr4oB0YITArSRVKTIeWS\",\n        \"object\":
        \"card\",\n        \"last4\": \"4242\",\n        \"type\": \"Visa\",\n        \"exp_month\":
        12,\n        \"exp_year\": 2016,\n        \"fingerprint\": \"qBYthW9tt9MyrCdj\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"customer\": \"cus_4CFrf8w03vb5eT\"\n
        \     }\n    ]\n  },\n  \"default_card\": \"card_104CFr4oB0YITArSRVKTIeWS\"\n}\n"
  recorded_at: Tue, 10 Jun 2014 15:39:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4CFuBQqgcbk2xQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4CFxdHkkosAA9v
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=sme_supporter&description=Membership%20for%20&email=iain%40foobar.com
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4CFxpE8vitOeqr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n [...]
[...]
