---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2<XPC_SERVICE_NAME>16&card[number]=4242424242424242&card[cvc]=123&plan=2<XPC_SERVICE_NAME>15_corporate_supporter_monthly&description=FooBar%2<XPC_SERVICE_NAME>Inc%2<XPC_SERVICE_NAME>%2<XPC_SERVICE_NAME>membership%2<XPC_SERVICE_NAME>(RS7486AH)
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij<XPC_SERVICE_NAME>yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>14-<XPC_SERVICE_NAME>5-19
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 142<XPC_SERVICE_NAME>547417,\n
        \ \"id\": \"cus_5SsDUjJzZqjkNR\",\n  \"livemode\": false,\n  \"description\":
        \"FooBar Inc  membership (RS7486AH)\",\n  \"email\": null,\n  \"delinquent\":
        false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\": \"list\",\n
        \   \"total_count\": 1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_5SsDUjJzZqjkNR/subscriptions\",\n
        \   \"data\": [\n      {\n        \"id\": \"sub_5SsDZqJnElSHXz\",\n        \"plan\":
        {\n          \"interval\": \"month\",\n          \"name\": \"Corporate Supporter
        Monthly (2<XPC_SERVICE_NAME>15 prices)\",\n          \"created\": 142<XPC_SERVICE_NAME>54737<XPC_SERVICE_NAME>,\n
        \         \"amount\": 22<XPC_SERVICE_NAME><XPC_SERVICE_NAME><XPC_SERVICE_NAME>,\n
        \         \"currency\": \"gbp\",\n          \"id\": \"2<XPC_SERVICE_NAME>15_corporate_supporter_monthly\",\n
        \         \"object\": \"plan\",\n          \"livemode\": false,\n          \"interval_count\":
        1,\n          \"trial_period_days\": null,\n          \"metadata\": {},\n
        \         \"statement_descriptor\": null,\n          \"statement_description\":
        null\n        },\n        \"object\": \"subscription\",\n        \"start\":
        142<XPC_SERVICE_NAME>547417,\n        \"status\": \"active\",\n        \"customer\":
        \"cus_5SsDUjJzZqjkNR\",\n        \"cancel_at_period_end\": false,\n        \"current_period_start\":
        142<XPC_SERVICE_NAME>547417,\n        \"current_period_end\": 1423225817,\n
        \       \"ended_at\": null,\n        \"trial_start\": null,\n        \"trial_end\":
        null,\n        \"canceled_at\": null,\n        \"quantity\": 1,\n        \"application_fee_percent\":
        null,\n        \"discount\": null,\n        \"tax_percent\": null,\n        \"metadata\":
        {}\n      }\n    ]\n  },\n  \"discount\": null,\n  \"account_balance\": <XPC_SERVICE_NAME>,\n
        \ \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n    \"total_count\":
        1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_5SsDUjJzZqjkNR/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_15HwTV4oB<XPC_SERVICE_NAME>YITArSbWjKyWpv\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"brand\":
        \"Visa\",\n        \"funding\": \"credit\",\n        \"exp_month\": 12,\n
        \       \"exp_year\": 2<XPC_SERVICE_NAME>16,\n        \"fingerprint\": \"qBYthW9tt9MyrCdj\",\n
        \       \"country\": \"US\",\n        \"name\": null,\n        \"address_line1\":
        null,\n        \"address_line2\": null,\n        \"address_city\": null,\n
        \       \"address_state\": null,\n        \"address_zip\": null,\n        \"address_country\":
        null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"dynamic_last4\": null,\n
        \       \"customer\": \"cus_5SsDUjJzZqjkNR\",\n        \"type\": \"Visa\"\n
        \     }\n    ]\n  },\n  \"default_card\": \"card_15HwTV4oB<XPC_SERVICE_NAME>YITArSbWjKyWpv\"\n}\n"
  recorded_at: Tue, 06 Jan 2015 12:30:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5SsDUjJzZqjkNR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_39F7AAZeF7Kij<XPC_SERVICE_NAME>yrNOlDznbH
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - 2<XPC_SERVICE_NAME>14-<XPC_SERVICE_N[...]
[...]
