---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[exp_month]=12&card[exp_year]=2016&card[number]=4242424242424242&card[cvc]=123&plan=corporate_supporter_monthly&description=FooBar%20Inc%20corporate%20supporter%20membership%20(IT1325LW)
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1402930524,\n  \"id\":
        \"cus_4EUVIm5btXBG7p\",\n  \"livemode\": false,\n  \"description\": \"FooBar
        Inc corporate supporter membership (IT1325LW)\",\n  \"email\": null,\n  \"delinquent\":
        false,\n  \"metadata\": {},\n  \"subscriptions\": {\n    \"object\": \"list\",\n
        \   \"total_count\": 1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4EUVIm5btXBG7p/subscriptions\",\n
        \   \"data\": [\n      {\n        \"id\": \"sub_4EUVvIbgB2NIMC\",\n        \"plan\":
        {\n          \"interval\": \"month\",\n          \"name\": \"Corporate Supporter
        (Monthly)\",\n          \"created\": 1402481417,\n          \"amount\": 12000,\n
        \         \"currency\": \"gbp\",\n          \"id\": \"corporate_supporter_monthly\",\n
        \         \"object\": \"plan\",\n          \"livemode\": false,\n          \"interval_count\":
        1,\n          \"trial_period_days\": null,\n          \"metadata\": {},\n
        \         \"statement_description\": null\n        },\n        \"object\":
        \"subscription\",\n        \"start\": 1402930524,\n        \"status\": \"active\",\n
        \       \"customer\": \"cus_4EUVIm5btXBG7p\",\n        \"cancel_at_period_end\":
        false,\n        \"current_period_start\": 1402930524,\n        \"current_period_end\":
        1405522524,\n        \"ended_at\": null,\n        \"trial_start\": null,\n
        \       \"trial_end\": null,\n        \"canceled_at\": null,\n        \"quantity\":
        1,\n        \"application_fee_percent\": null,\n        \"discount\": null,\n
        \       \"metadata\": {}\n      }\n    ]\n  },\n  \"discount\": null,\n  \"account_balance\":
        0,\n  \"currency\": \"gbp\",\n  \"cards\": {\n    \"object\": \"list\",\n
        \   \"total_count\": 1,\n    \"has_more\": false,\n    \"url\": \"/v1/customers/cus_4EUVIm5btXBG7p/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_104EUV4AkkLX9BwVITdyt31B\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2016,\n        \"fingerprint\":
        \"ynpvkg0lBh03Sjdq\",\n        \"country\": \"US\",\n        \"name\": null,\n
        \       \"address_line1\": null,\n        \"address_line2\": null,\n        \"address_city\":
        null,\n        \"address_state\": null,\n        \"address_zip\": null,\n
        \       \"address_country\": null,\n        \"cvc_check\": \"pass\",\n        \"address_line1_check\":
        null,\n        \"address_zip_check\": null,\n        \"customer\": \"cus_4EUVIm5btXBG7p\"\n
        \     }\n    ]\n  },\n  \"default_card\": \"card_104EUV4AkkLX9BwVITdyt31B\"\n}\n"
  recorded_at: Mon, 16 Jun 2014 14:55:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4EUVIm5btXBG7p
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: US-ASCII
      string: ! "{\n [...]
[...]
