<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
      body {
        padding: 1em 2em;
        font-family: sans-serif;
      }
      h1 {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      h2 {
        margin: 0;
        padding: 0;
      }
      body > ol {
        padding: 0;
      }
      ol {
        counter-reset: section;
        list-style-type: none;
      }  
      ol li {
        counter-increment: section;
      }      
      ol li:before  {
        content: counters(section, ".") ". ";
      }
      ol li p {
        display: inline-block;
      }
      table {
        width: 100%;
        margin-top: 1em;
        border-collapse: collapse;
      }
      table td, table th {
        border: 1px solid black;
        padding: 2px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
