<!-- BEGIN ODI MEMBER BADGE -->
<div class="odi-member <%= @size %>">
  <%= stylesheet_link_tag "badge.css" %>
  <%= link_to image_tag("#{@size || "standard"}-badge.png"), member_url(@member) %>
  <ul class="details">
    <li>Open Data Institute Partner</li>
    <li>Active since <%= @member.created_at.to_date %></li>
    <li>London, UK</li>
  </ul>
</div>
<!-- END ODI MEMBER BADGE -->
