<% @organizations.each do |organization| %>
  <%= render :partial => 'organizations/summary', :locals => {:organization => organization}%>
<% end %>

<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <%= link_to "<i class='icon-list'></i> JSON".html_safe, 
        alternate_url(:format => :json), 
        :rel => 'alternate', 
        :type => 'application/json',
        :class => "btn",
        :title => "Get this data in JSON format" %>
  </div>
</div>

<div style='clear:right'>
</div>