<p class="muted">This directory lists organisations who are currently members of the ODI:</p>

<% @organizations.each do |organization| %>
  <%= render :partial => 'organizations/summary', :locals => {:organization => organization}%>
<% end %>

<%= render 'shared/alternate_formats' %>
