<ul class="breadcrumb">
  <li><%= link_to 'Members', members_path %></a> <span class="divider">/</span></li>
  <li class="active"><%= @member.organization_name %></li>
</ul>

<div id="singleview">
	<%= render :partial => 'listings/listing', :locals => {:member => @member}%>
</div>

<div style='clear:right'></div>

<%= render 'shared/alternate_formats' %>