<div id="singleview">
	<%= render :partial => 'organizations/organization', :locals => {:organization => @organization}%>
</div>

<div style='clear:right'></div>

<%= render 'shared/alternate_formats' %>