<ul class="breadcrumb">
  <li><%= link_to 'Members', members_path %></a> <span class="divider">/</span></li>
  <li class="active"><%= @organization.name %></li>
</ul>

<div id="singleview">
	<%= render :partial => 'organizations/organization', :locals => {:organization => @organization}%>
</div>

<div style='clear:right'></div>

<%= render 'shared/alternate_formats' %>