<div class="thanks-banner">&nbsp;</div>

<%= image_tag("badges/black/100px.png", class: "thanks-badge") %>

<p class="lead thanks">
You’ll shortly receive a welcome email with all the information you need about your membership.
</p>

<p>
In the meantime why not take a look at our <%= link_to "open data stories", "http://theodi.org/stories" %>
and the <%= link_to "other members", "https://directory.theodi.org/members" %> in the network?
<p>

